# About
Data visualization

# Libraries

In [2]:
%run "/home/cesar/Python_NBs/HDL_Project/HDL_Project/global_fv.ipynb"

In [9]:
import plotly.express as px
import plotly.graph_objs as go

# Data

In [6]:
s_cols = "datetime, pm25"
t_station = "sima_station_CE"
s_where = "where datetime > \'2021-01-01\'"

df_data = pd.DataFrame(qdata("Select {} from {} {}".format(s_cols, t_station, s_where)))
df_data.columns = s_cols.split(", ")
df_data

                 datetime   pm25
0     2021-01-01 06:00:00  48.00
1     2021-01-01 07:00:00  37.00
2     2021-01-01 21:00:00  22.00
3     2021-01-02 15:00:00  38.00
4     2021-01-03 04:00:00  57.00
...                   ...    ...
11322 2022-04-14 18:00:00  25.02
11323 2022-04-15 03:00:00  15.61
11324 2022-04-15 11:00:00  39.58
11325 2022-04-16 18:00:00  48.14
11326 2022-04-17 06:00:00  25.07

[11327 rows x 2 columns]

In [10]:
"Select {} from {} {}".format(s_cols, t_station, s_where)

"Select datetime, pm25 from sima_station_CE where datetime > '2021-01-01'"

# Sources

* How to Plot Timeseries Data in Python and Plotly <br>
https://medium.com/nerd-for-tech/how-to-plot-timeseries-data-in-python-and-plotly-1382d205cc2

* 8 Visualizations with Python to Handle Multiple Time-Series Data <br>
https://medium.com/towards-data-science/8-visualizations-with-python-to-handle-multiple-time-series-data-19b5b2e66dd0